@media (min-width: 900px) {
    .columns {
        font-size: var(--body-font-size-s);
    }
    
    .columns h2 {
        font-size: var(--heading-font-size-s);
    }

    .columns >  div {
        display: flex;
    }

    .columns >  div > div {
        flex: 1;
        margin: 8px;
    }
}
