.cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.cards > div {
    flex: 1 1 250px;
    border: 2px solid var(--overlay-background-color);
    margin: 16px;
    box-sizing: border-box;
    padding: 32px;
}

.cards .icon {
    border-radius: 50%;
    background-color: var(--overlay-background-color);
    display: inline-block;
    padding: 10px;
    line-height: 0;
}

.cards h2 {
    font-size: var(--heading-font-size-m);
}

.cards .icon svg {
    width: 48px;
}