/* header and nav layout */
header .nav {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 30px calc(40px + 64px); 
  grid-template-rows: 70px 56px 1fr; 
  gap: 0px 15px; 
  grid-template-areas: 
    "brand search hamburger"
    "title title title"
    "sections sections sections"; 
  align-items: center;
  height: 126px;
  width: 100%;
  background-color: var(--background-color);
  font-size: var(--body-font-size-s);
  box-sizing: border-box;
}

@media (min-width: 900px) {
  header .nav {
    display: flex;
    gap: 0;
    flex-wrap: wrap;
    height: 172px;
  }

  header .nav .nav-brand {
    order: 1;
    flex: 0 0 calc(50% - 64px - 7.5px);
  }

  header .nav .nav-utility-links {
    order: 2;
    flex: 0 0 calc(50% - 64px - 7.5px);
  }

  header .nav .nav-title-bar {
    order: 3;
    width: 100%;
  }

  header .nav .nav-primary-links {
    order: 4;
  }

  header .nav .nav-search {
    order: 5;
  }
}

header .nav svg {
  fill: var(--link-color);
}

header ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
} 

/* hamburger */
header .nav-hamburger {
  grid-area: hamburger;
  height: 40px;
  width: 40px;
  cursor: pointer;
  /* z-index: 99; */
}

header .nav[aria-expanded='false'] .nav-hamburger-icon,
header .nav[aria-expanded='false'] .nav-hamburger-icon::after,
header .nav[aria-expanded='false'] .nav-hamburger-icon::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  top: 50%;
  width: 40px;
  height: 2.5px;
  background: var(--link-color);
  transform: translateY(-50%);
}

header .nav[aria-expanded='false'] .nav-hamburger-icon::after,
header .nav[aria-expanded='false'] .nav-hamburger-icon::before {
  content: "";
  position: absolute;
  top: -6px;
}

header .nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 9px;
}

header .nav[aria-expanded='true'] .nav-hamburger-icon {
  box-sizing: border-box;
  position: relative;
  display: block;
  height: 40px;
  border: 2px solid transparent;
  border-radius: 5px;
  transform: translateX(-5%);
  z-index: 2;
}

header .nav[aria-expanded='true'] .nav-hamburger-icon::after,
header .nav[aria-expanded='true'] .nav-hamburger-icon::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 40px;
  height: 2px;
  background: var(--background-color);
  transform: rotate(45deg);
  border-radius: 5px;
  top: 50%;
}

header .nav[aria-expanded='true'] .nav-hamburger-icon::after {
  transform: rotate(-45deg)
}

/* brand */
header .nav-brand {
  grid-area: brand;
  height: 70px;
  margin-left: 64px;
}

header .nav-brand svg {
  height: 40px;
}

header .nav-brand .icon.icon-kp-logo {
  display: none;
  visibility: hidden;
}

@media (min-width: 900px) {
  header .nav-brand .icon.icon-kp-logo {
    display: unset;
    visibility: unset;
  }

  header .nav-brand .icon.icon-kp-mobile-logo {
    display: none;
    visibility: hidden;
  }
}

/* search */
header .nav-search {
  grid-area: search;
}

header .nav-search .icon-search {
  cursor: pointer;
}

header .nav-search svg {
  height: 40px;
  width: 30px;
}

@media (min-width: 900px) {
  header .nav-search {
    flex: 1 0;
    height: 46px;
    padding-left: 15px;
    padding-right: calc(64px + 66px);
    background: var(--highlight-background-color);
    text-align: right;
  }

  header .nav-search p {
    margin: 0;
    line-height: 46px;
  }

  header .nav-search svg {
    height: 18px;
    margin-top: 14px;
  }

  header .nav-search .icon-search {
    display: block;
    position: relative;
  }

  header .nav-search .icon-search::after {
    content: "Search";
    position: absolute;
    padding-bottom: 20px;
  }
}

/* title bar */
header .nav-title-bar {
  grid-area: title;
  display: flex;
  align-items: center;
  padding: 0 64px;
  background: var(--link-color);
  color: var(--background-color);
}

header .nav-title-bar svg {
  display: block;
  height: 30px;
  max-width: 100%;
  fill: var(--background-color);
}

header .nav-title-bar h2 {
  margin: 0;
  margin-left: 15px;
  border-left: 1px solid;
  padding-left: 15px;
  font-size: var(--heading-font-size-xxs);
  font-weight: 400;
}

header .nav-title-bar a {
  color: var(--background-color);
}

/* sections */
header .nav-sections {
  grid-area: sections;
  display: none;
  z-index: 1;
}

header .nav-sections li {
  padding: 18px 0;
}

header .nav-sections a {
  color: var(--background-color);
  padding-bottom: 6px;
}

header .nav-sections a:hover {
  border-bottom: 2px solid;
}

header .btn-signon {
  font-weight: 500;
}

header .nav-sections .btn-signon {
  display: block;
  max-width: 100%;
  padding: 1em;
  background: var(--link-color);
}

header .nav-sections .btn-signon:hover {
  border-bottom: 0;
  background: var(--link-hover-color);
}

header .nav-section {
  padding: 0 128px;
}

header .nav-utility-links,
header .nav-primary-links {
  visibility: hidden;
  display: none;
}

@media (min-width: 900px) {
  header .nav-utility-links,
  header .nav-primary-links{
    position: unset;
    display: block;
    visibility: unset;
  }
}

/* utility links */
header .nav-utility-links {
  grid-area: utility;
}

header .nav-utility-links p {
  margin: 0;
  padding: 22px 0;
}

@media (min-width: 900px) {
  header .nav-utility-links {
    text-align: right;
    margin-right: 64px;
    color: var(--link-color);
  }

  header .nav-utility-links > :not(:last-of-type) {
    margin-right: 10px;
    border-right: 2px solid var(--border-color);
    padding-right: 10px;
  }
  
  header .nav-utility-links p {
    display: inline-block;
    padding: 0;
  }
}

header #language-picker {
  cursor: pointer;
}

header .language-picker-dialog {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 0 16px;
  background-color: var(--background-color);
  z-index: 9;
}

header .language-picker-dialog .language-picker-close {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

header .language-picker-dialog .language-picker-close-icon {
  box-sizing: border-box;
  position: relative;
  display: block;
  height: 40px;
  border: 2px solid transparent;
  border-radius: 5px;
  transform: translateX(-5%);
}

header .language-picker-dialog .language-picker-close-icon::before,
header .language-picker-dialog .language-picker-close-icon::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 40px;
  height: 2px;
  background: var(--background-color);
  transform: rotate(45deg);
  border-radius: 5px;
  top: 50%;
}

header .language-picker-dialog .language-picker-close-icon::after {
  transform: rotate(-45deg);
}

/* primary links */
header .nav-primary-links {
  grid-area: primary;
}

@media (min-width: 900px) {
  header .nav-primary-links {
    height: 46px;
    padding-left: 64px;
    background: var(--highlight-background-color);
    line-height: 46px;
  }

  header .nav-primary-links li {
    display: inline-block;
  }

  header .nav-primary-links li:not(:last-of-type) {
    margin-right: 15px;
  }

  header .nav-primary-links a {
    padding: 6px 0;
    color: var(--text-color);
  }

  header .nav-primary-links a:hover {
    border-bottom: 2px solid var(--link-color);
  }
}

header .nav[aria-expanded='true'] .nav-sections {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: max-content max-content; 
  grid-template-areas: 
    "primary"
    "utility";
  height: 100vh;
  width: 100vw;
  padding-top: 70px;
  background: #0C1C3D;
  font-size: var(--heading-font-size-xs);
  text-align: center;
  overflow-y: auto;
}

header .nav[aria-expanded='true'] .nav-sections .nav-utility-links,
header .nav[aria-expanded='true'] .nav-sections .nav-primary-links {
  display: block;
  visibility: unset;
  padding: 0 16px;
}

/* desktop nav styles */
@media (min-width: 900px) {
  header .nav-hamburger {
    display: none;
  }
  
  header .nav[aria-expanded='true'] .nav-sections {
    display: none;
    visibility: hidden;
    min-height: unset;
  }
}
