/* header and nav layout */
header {
  background: var(--background-color);
}

header .nav {
  box-sizing: border-box;
  display: grid; 
  grid-template-columns: 1fr 36px 36px; 
  grid-template-rows: 40px 1fr; 
  gap: 0 16px; 
  grid-template-areas: 
    "brand search hamburger"
    "sections sections sections"; 
  align-items: center;
  height: 72px;
  max-width: 1280px;
  margin: auto;
  padding: 16px;
  font-size: var(--body-font-size-s);
  z-index: 1;
}

@media (min-width: 900px) {
  header {
    background: linear-gradient(
      180deg, var(--background-color) 0%, 
      var(--background-color) 50%, 
      var(--highlight-background-color) 50%, 
      var(--highlight-background-color) 100%);
  }

  header .nav {
    grid-template-columns: 1fr max-content max-content max-content; 
    grid-template-rows: 40px 72px; 
    grid-template-areas:
      "brand language region signin"
      "links links links search";
    gap: 16px;
    height: unset;
    padding-bottom: 0;
  }
}

header .nav p {
  margin: 0;
}

header .nav ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

header .nav svg {
  fill: var(--link-color);
}

header .nav button,
header .nav input {
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  cursor: pointer;
}

/* icons */
header .nav .icon.icon-arrow {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  height: 18px;
  width: 18px;
  margin-left: 8px;
}

header .nav .icon.icon-arrow::after {
  content: "";
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);;
  height: 12px;
  width: 12px;
  border-left: 1.5px solid var(--link-color);
  border-bottom: 1.5px solid var(--link-color);
}

@media (min-width: 900px) {
  header .nav .icon.icon-arrow {
    height: var(--body-font-size-s);
    margin-left: 4px;
    transform: scale(.5);
  }
}

header .nav .icon.icon-close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

header .nav .icon.icon-close {
  box-sizing: border-box;
  display: block;
  position: relative;
  height: 22px;
  width: 22px;
  border: 2px solid transparent;
  border-radius: 5px;
  transform: translate(-3px, -2px);
}

header .nav .icon.icon-close::after,
header .nav .icon.icon-close::before {
  content: "";
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 8px;
  left: 1px;
  height: 2px;
  width: 22px;
  border-radius: 5px;
  background: var(--background-color);
  transform: rotate(45deg);
}

header .nav .icon.icon-close::after {
  transform: rotate(-45deg)
}

/* expand/collapse behavior */
header .nav > .nav-links,
header .nav > .nav-signin,
header .nav > .nav-language,
header .nav > .nav-region {
  display: none;
  visibility: hidden;
}

@media (min-width: 900px) {
  header .nav > .nav-links,
  header .nav > .nav-signin,
  header .nav > .nav-language,
  header .nav > .nav-region {
    display: unset;
    visibility: unset;
  }
}

/* hamburger */
header .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  padding-top: 3px;
  cursor: pointer;
  z-index: 3;
}

@media (min-width: 900px) {
  header .nav-hamburger {
    display: none;
  }
}

header .nav[aria-expanded='false'] .nav-hamburger-icon,
header .nav[aria-expanded='false'] .nav-hamburger-icon::after,
header .nav[aria-expanded='false'] .nav-hamburger-icon::before {
  box-sizing: border-box;
  display: block;
  position: relative;
  top: 8px;
  height: 3px;
  width: 36px;
  background: var(--link-color);
  border-radius: 1px;
}

header .nav[aria-expanded='false'] .nav-hamburger-icon::after,
header .nav[aria-expanded='false'] .nav-hamburger-icon::before {
  content: "";
  position: absolute;
  top: -7px;
}

header .nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 7px;
}

header .nav[aria-expanded='true'] .nav-hamburger-icon {
  box-sizing: border-box;
  display: block;
  position: relative;
  height: 22px;
  width: 22px;
  border: 2px solid transparent;
  border-radius: 5px;
  transform: translate(-3px, -2px);
}

header .nav[aria-expanded='true'] .nav-hamburger-icon::after,
header .nav[aria-expanded='true'] .nav-hamburger-icon::before {
  content: "";
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 8px;
  left: 1px;
  height: 2px;
  width: 22px;
  border-radius: 5px;
  background: var(--background-color);
  transform: rotate(45deg);
}

header .nav[aria-expanded='true'] .nav-hamburger-icon::after {
  transform: rotate(-45deg)
}

/* brand */
header .nav-brand {
  grid-area: brand;
  height: 40px;
}

header .nav-brand svg {
  height: 40px;
}

header .nav-brand .icon.icon-kp-logo {
  display: none;
  visibility: hidden;
}

@media (min-width: 900px) {
  header .nav-brand .icon.icon-kp-logo {
    display: unset;
    visibility: unset;
  }

  header .nav-brand .icon.icon-kp-mobile-logo {
    display: none;
    visibility: hidden;
  }
}

/* search */
header .nav-search {
  grid-area: search;
}

header .nav-search svg {
  height: 36px;
  width: 36px;
}

header .nav-search p {
  cursor: pointer;
}

@media (min-width: 900px) {
  header .nav-search svg {
    height: 18px;
    width: 18px;
    margin-right: 9px;
  }

  header .nav-search p {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 16px;
  }

  header .nav-search p::after {
    content: "Search";
    display: inline;
  }
}

header .nav-search-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - (16px * 2));
  padding: 16px;
  background: var(--link-color);
  z-index: 3;
}

@media (min-width: 900px) {
  header .nav-search-menu {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 72px;
    padding: 11px 16px;
  }
}

header .nav-search-menu .nav-search-close {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 900px) {
  header .nav-search-menu .nav-search-close {
    align-items: center;
    position: absolute;
    right: 16px;
    height: 50px;
  }
}

header .nav-search-menu .nav-search-close-icon {
  cursor: pointer;
}

header .nav-search-menu .nav-search-input {
  position: relative;
  margin-top: 18px;
}

@media (min-width: 900px) {
  header .nav-search-menu .nav-search-input {
    margin-top: 0;
    width: 480px;
  }
}

header .nav-search-menu .nav-search-input input {
  height: 48px;
  width: calc(100% - (48px * 2));
  border: 0;
  border-bottom: 1px solid var(--background-color);
  padding: 0 48px;
  background: transparent;
  color: var(--background-color);
  font-size: var(--body-font-size-m);
  cursor: text;
}

@media (min-width: 900px) {
  header .nav-search-menu .nav-search-input input {
    width: calc(100% - (16px * 2));
    padding: 0 32px 0 16px;
    border: 1px solid var(--border-color);
    background: var(--background-color);
    color: var(--text-color);
  }
}

header .nav-search-menu .nav-search-input input:focus {
  outline: 0;
}

header .nav-search-menu .nav-search-input .icon.icon-clear {
  visibility: hidden;
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  height: 22px;
  width: 22px;
  border: 2px solid var(--background-color);
  border-radius: 40px;
  transform: translateY(-50%);
  cursor: pointer;
}

header .nav-search-menu .nav-search-input .icon.icon-clear::after,
header .nav-search-menu .nav-search-input .icon.icon-clear::before {
  content: "";
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 8px;
  left: 3px;
  height: 2px;
  width: 12px;
  background: var(--background-color);
  border-radius: 5px;
  transform: rotate(45deg);
}

header .nav-search-menu .nav-search-input .icon.icon-clear::after {
  transform: rotate(-45deg)
}

header .nav-search-menu .nav-search-input .icon.icon-clear.show {
  visibility: unset;
}

@media (min-width: 900px) {
  header .nav-search-menu .nav-search-input .icon.icon-clear.show {
    border-color: var(--link-color);
  }

  header .nav-search-menu .nav-search-input .icon.icon-clear.show::before,
  header .nav-search-menu .nav-search-input .icon.icon-clear.show::after {
    background: var(--link-color);
  }
}

header .nav-search-menu .nav-search-input .icon.icon-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

@media (min-width: 900px) {
  header .nav-search-menu .nav-search-input .icon.icon-search {
    visibility: hidden;
  }
}

header .nav-search-menu .nav-search-input .icon.icon-search svg {
  height: 32px;
  width: 32px;
  fill: var(--background-color);
}

header .nav-search-menu button {
  display: none;
  visibility: hidden;
  margin-left: 18px;
  border: 0;
  padding: 0 32px;
  background: var(--link-hover-color);
  color: var(--background-color);
  font-size: 16px;
}

@media (min-width: 900px) {
  header .nav-search-menu button {
    display: flex;
    align-items: center;
    visibility: unset;
  }
}

header .nav-search-menu button:focus,
header .nav-search-menu button:hover {
  background: var(--text-color);
}


header .nav-search-menu button .icon.icon-search {
  margin-top: 2px;
  margin-right: 8px;
}

header .nav-search-menu button .icon.icon-search svg {
  height: 18px;
  width: 18px;
  fill: var(--background-color);
}

/* links */
header .nav-links {
  grid-area: links;
}

@media (min-width: 900px) {
  header .nav-links li {
    display: inline-block;
    margin: 32px 0;
    font-size: 16px;
  }

  header .nav-links li:not(:last-of-type) {
    margin-right: 20px;
  }

  header .nav-links a {
    color: var(--text-color);
  }

  header .nav-links a:hover {
    border-bottom: 2px solid var(--link-color);
  }
}

/* signin */
header .nav-signin {
  grid-area: signin;
}

header .nav-signin p a {
  display: block;
  padding: 16px 0;
  background: var(--link-color);
  font-weight: 600;
}

header .nav-signin p a:hover {
  border-bottom: 0;
}

header .nav-signin a:hover {
  background: var(--link-hover-color);
}

@media (min-width: 900px) {
  header .nav-signin {
    border-left: 2px solid var(--border-color);
    padding-left: 16px;
  }

  header .nav-signin p a {
    display: unset;
    padding: 0;
    background: transparent;
  }
  
  header .nav-signin a:hover {
    background: transparent;
    color: var(--link-hover-color);
  }
}

/* language */
header .nav-language {
  grid-area: language;
}

@media (min-width: 900px) {
  header .nav-language {
    border-right: 2px solid var(--border-color);
    padding-right: 16px;
  }
}

header .nav-language a {
  cursor: pointer;
}

header .nav-language-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  height: 100vh;
  width: calc(100% - (16px * 2));
  padding: 16px;
  background: var(--background-color);
  font-size: var(--body-font-size-m);
}

@media (min-width: 900px) {
  header .nav-language-modal {
    top: 72px;
    left: 50%;
    height: unset;
    width: 480px;
    max-width: 92%;
    border: 1px solid var(--border-color);
    padding: 32px;
    box-shadow: 0 0 0 100vw #00000099;
    transform: translateX(-50%);
  } 
}

header .nav-language-modal p {
  margin-bottom: 32px;
}

header .nav-language-modal .nav-language-modal-close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

header .nav-language-modal .nav-language-modal-close-icon {
  box-sizing: border-box;
  display: block;
  position: relative;
  height: 22px;
  width: 22px;
  border: 2px solid transparent;
  border-radius: 5px;
  transform: translate(-3px, -2px);
}

header .nav-language-modal .nav-language-modal-close-icon::after,
header .nav-language-modal .nav-language-modal-close-icon::before {
  content: "";
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 8px;
  left: 1px;
  height: 2px;
  width: 22px;
  border-radius: 5px;
  background: var(--link-color);
  transform: rotate(45deg);
}

header .nav-language-modal .nav-language-modal-close-icon::after {
  transform: rotate(-45deg)
}

header .nav-language-modal .checkbox {
  margin-bottom: 32px;
}

header .nav-language-modal .checkbox label {
  display: block;
  position: relative;
  padding-left: 32px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}

header .nav-language-modal label input {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  visibility: hidden;
}

header .nav-language-modal label .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border: 2px solid #677083;
}

header .nav-language-modal label input:checked ~ .checkmark {
  background: var(--link-color);
  border-color: var(--link-color);
}

header .nav-language-modal label .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

header .nav-language-modal label input:checked ~ .checkmark::after {
  display: block;
}

header .nav-language-modal label .checkmark::after {
  top: 0;
  left: 50%;
  width: 5px;
  height: 10px;
  border: solid var(--background-color);
  border-width: 0 2px 2px 0;
  transform: translateX(-50%) rotate(45deg);
}

header .nav-language-modal button {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  border: 2px solid var(--link-color);
  padding: 12px 0;
  background: var(--background-color);
  color: var(--link-color);
  font-size: var(--body-font-size-s);
}

header .nav-language-modal button:hover {
  border-color: var(--link-hover-color);
  color: var(--link-hover-color);
}

header .nav-language-modal button#continuar {
  background: var(--link-color);
  color: var(--background-color);
}

header .nav-language-modal button#continuar:hover {
  background: var(--link-hover-color);
}

/* region */
header .nav-region {
  grid-area: region;
  position: relative;
  width: 100%;
}

header .nav-region .nav-region-btn,
header .nav-region .nav-region-options {
  display: block;
}

header .nav-region .nav-region-btn {
  padding: 16px 0;
  cursor: pointer;
}

header .nav-region .nav-region-btn:hover {
  border-bottom: 0;
}

header .nav-region .nav-region-btn[aria-expanded=false] + .nav-region-options {
  display: none;
  visibility: hidden;
}

header .nav-region .nav-region-options {
  background: var(--background-color);
  color: var(--text-color);
  z-index: 4;
}

header .nav-region .nav-region-options li {
  margin: 0;
  padding: 16px;
  cursor: pointer;
}

header .nav-region .nav-region-options li:hover {
  background: var(--link-color);
}

header .nav-region .nav-region-options li:hover a {
  color: var(--background-color);
  border-bottom: 2px solid;
}

header .nav-region .nav-region-options a {
  color: var(--text-color);
}

@media (min-width: 900px) {
  header .nav-region .nav-region-btn {
    padding: 0;
  }

  header .nav-region .nav-region-options {
    position: absolute;
    top: 32px;
    right: -16px;
    width: max-content;
    border: 1px solid var(--border-color);
  }

  header .nav-region .nav-region-options li:hover a {
    border-bottom: 0;
  }

  header .nav-region .nav-region-options a {
    display: block;
    color: var(--link-color);
  }
}

/* sections */
header .nav-sections {
  grid-area: sections;
  /* flex-direction: column; */
  display: none;
  height: calc(100vh - (64px * 2));
  width: calc(100vw - (64px * 2));
  padding: 64px;
  padding-top: 72px;
  background-color: #0C1C3D;
  color: var(--background-color);
  font-size: 18px;
  text-align: center;
  overflow-y: auto;
}

@media (min-width: 900px) {
  header .nav-sections {
    display: none;
    visibility: hidden;
  }
}

header .nav-sections h2 {
  /* font-size: 22px; */
}

header .nav-sections a {
  padding: 3px 0;
  color: var(--background-color);
}

header .nav-sections a:hover {
  border-bottom: 2px solid;
}

header .nav-sections li {
  margin: 64px 0;
}

header .nav-sections > div:not(:last-of-type) {
  /* border: 1px solid white; */
  margin-bottom: 64px;
}

header .nav[aria-expanded='true'] .nav-sections {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  /* align-self: flex-start; */
}

header .nav[aria-expanded='true'] {
  /* min-height: 100vh; */
}

/* desktop nav styles */
@media (min-width: 900px) {
  header .nav {
    /* grid-template-areas: 'brand sections'; */
    /* grid-template-columns: 200px 1fr; */
  }



  header .nav-sections {
    /* display: flex; */
    /* flex-direction: row; */
    /* background-color: unset; */
    /* width: unset;         */
  }
  
  header .nav[aria-expanded='true'] .nav-sections {
    /* display: flex; */
    /* min-height: unset; */
  }

  header .nav-section {
    /* padding: 0 16px; */
    /* position: relative; */
  }

  header .nav-sections h2 {
    /* font-size: 18px; */
    /* margin: 0; */
    /* cursor: pointer; */
  }

  header .nav-section ul {
    /* display: none; */
  }

  header .nav-section li {
    /* font-size: 18px; */
    /* padding: 16px; */
  }

  header .nav-section[aria-expanded='true'] ul {
    /* display: block; */
    /* position: absolute; */
    /* background-color: var(--background-color); */
    /* width: 300px; */
    /* left: 0; */
  } 
}
