footer {
  padding: 64px 16px;
  background-color: var(--overlay-background-color);
  font-size: var(--body-font-size-s);
}

@media (min-width: 600px) {
  footer {
    padding: 64px 32px;
  }
}

footer .footer {
  max-width: 1280px;
  margin: auto;
}

footer .footer h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

footer .footer ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

footer .footer li {
  margin: 16px 0;
}

footer .footer > div > div:not(:last-of-type) {
  margin-bottom: 64px;
}

@media (min-width: 600px) {
  footer .footer > div > div:not(:last-of-type) {
    margin-bottom: 32px;
  }
}

/* svg */
footer .footer .icon.icon-globe,
footer .footer .icon.icon-globe::after,
footer .footer .icon.icon-globe::before {
  box-sizing: border-box;
  display: block;
  height: 12px;
  margin-right: 8px;
  border: 1px solid;
  transform: rotate(15deg);
}

footer .footer .icon.icon-globe {
  display: inline-block;
  position: relative;
  width: 12px;
  border: 1px solid;
  border-radius: 50%;
}

footer .footer .icon.icon-globe::after,
footer .footer .icon.icon-globe::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 3px;
  width: 4px;
  border-radius: 100%;
}
footer .footer .icon.icon-globe::after {
  top: -5px;
  left: -2px;
  height: 12px;
  width: 16px;
  border: 1px solid transparent;
  border-bottom: 1px solid;
}

/* links */
@media (min-width: 600px) {
  footer .footer .footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  footer .footer .footer-links .footer-links-item:last-of-type {
    grid-column-start: 2;
  }
}

@media (min-width: 900px) {
  footer .footer .footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0 16px;
  }

  footer .footer .footer-links .footer-links-item:last-of-type {
    grid-column-start: 4;
  }
}

footer .footer .footer-links a {
  color: var(--link-color);
  cursor: pointer;
}

footer .footer .footer-links .footer-links-item-title {
  position: relative;
  padding: 32px 0;
  cursor: pointer;
}

@media (min-width: 600px) {
  footer .footer .footer-links .footer-links-item-title {
    padding: 0;
    cursor: default;
  }
}

footer .footer .footer-links #language {
  border-top: 1px solid var(--border-color);
  padding: 32px 0 16px;
}

@media (min-width: 600px) {
  footer .footer .footer-links #language {
    border-top: 0;
  }
}

@media (min-width: 900px) {
  footer .footer .footer-links #language {
    padding-top: 0;
  }
}

footer .footer .footer-links .footer-links-item-title:not(#language)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  height: 2px;
  width: 16px;
  background: var(--link-color);
  transform: translateY(-50%);
}

@media (min-width: 600px) {
  footer .footer .footer-links .footer-links-item-title:not(#language)::after {
    height: 0;
    width: 0;
  }
}

footer .footer .footer-links .footer-links-item-title:not(#language)[aria-expanded=false]::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 7px;
  height: 16px;
  width: 2px;
  background: var(--link-color);
  transform: translateY(-50%);
}

footer .footer .footer-links .footer-links-item-title[aria-expanded=false] + .footer-links-item-links {
  display: none;
  visibility: hidden;
}

footer .footer .footer-links .footer-links-item-links {
  font-size: var(--body-font-size-m);
  margin-bottom: 32px;
}

footer .footer .footer-links .footer-links-item-links li:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 600px) {
  footer .footer .footer-links .footer-links-item-links {
    margin-bottom: 0;
  }
}

/* social */
@media (min-width: 600px) {
  footer .footer .footer-social h2 {
    display: none;
    visibility: hidden;
  }
}

footer .footer .footer-social li {
  display: inline-block;
  position: relative;
  height: 42px;
  width: 42px;
  background: var(--link-color);
  border-radius: 50%;
}

footer .footer .footer-social li:hover {
  background: var(--link-hover-color);
}

footer .footer .footer-social li:not(:last-of-type) {
  margin-right: 16px;
}

footer .footer .footer-social li a {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

footer .footer .footer-social li svg {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 21px;
  width: 21px;
  fill: var(--background-color);
  transform: translate(-50%, -50%);
}

/* list */
@media (min-width: 600px) {
  footer .footer .footer-list li {
    display: inline-block;
    margin: 7px 0;
  }

  footer .footer .footer-list li:not(:last-of-type) {
    margin-right: 15px;
    border-right: 1px solid var(--border-color);
    padding-right: 15px;
  }
}

/* copyright */
footer .footer .footer-copyright p:not(:last-of-type) {
  margin-bottom: 32px;
}
