main > div.quote-container {
    padding-left: 0;
    padding-right: 0;
}

.section > div.quote-wrapper {
    background-color: var(--highlight-background-color);
    max-width: unset;
}

.quote {
    max-width: 1320px;
    margin: 64px auto;
    padding: 32px 16px;
}

.quote h2 {
    font-weight: 600;
}

.quote p:first-of-type {
    font-weight: 600;
}