.columns > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.columns-video img {
    border-radius: 15px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    display: block;
}

.columns-video {
    display: flex;
    position: relative;
}

.columns-video-play {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.columns div.columns-video-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--background-color);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.columns-video-modal-close {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    border-radius: 40px;
    align-self: flex-end;
    margin: 20px;
}

.columns-video-modal-close::after,
.columns-video-modal-close::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 48px;
    height: 3px;
    background: currentcolor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 1px;
}

.columns img {
    width: 100%;
}

.columns-video-modal-close::after {
    transform: rotate(-45deg)
}

.columns-video-modal iframe {
    height: 60%;
    width: 100%; 
}

.columns-video-play > span {
    display: block;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 100px;  
    border-color: transparent transparent transparent var(--background-color);
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 50px 0 50px 80px;
}

@media (min-width: 600px) {    
    .columns > div {
        flex-direction: unset;
        align-items: unset;
        justify-content: center;
    }

    .columns-two > div {
        align-items: center;
    }

    .columns-four > div {
        flex-wrap: wrap;
    }

    .columns >  div > div {
        flex: 1 1 300px;
        margin: 8px;
    }

    .columns-four {
        font-size: var(--body-font-size-s);
    }
    
    .columns-four h2 {
        font-size: var(--heading-font-size-s);
    }

}

@media (min-width: 900px) {
    .columns-four > div {
        flex-wrap: nowrap;
    }
    
}
