.toc-wrapper {
  position: sticky;
  top: 64px;
  width: 100%;
  background-color: var(--background-color);
  padding: 16px 0;
}

.toc aside {
  display: none;

}

.toc aside a {
  display: block;
  margin-left: 30px;
  margin-bottom: 20px;
  padding-left: 10px
}

.toc aside a.selected {
  padding-left: 7px;
  font-weight: 800; 
  border-left: 3px var(--link-color) solid;
  color: var(--text-color);
}

.toc select {
  padding: 8px 16px;
  min-width: 300px;
}

@media (min-width: 900px) {
  .toc-wrapper {
    position: fixed;
    top: 200px;
    left: 0;
    width: 280px;
  }

  .toc aside {
    display: unset;
  }

  .toc select {
    display: none;
  }
}